# Binaries and object files
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go specific
*.test
*.out
/vendor/

# IDE specific (common ones)
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Binary output directory
/bin/